.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 2px 2px 15px slategrey;
}

ul {
    width: 100%
}

li {
    float: left;
    width: 33%;
    text-align: center;

}

p {
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
}